.profile__buttonAlign {
  display: flex;
  gap: 18px;
  align-items: baseline;
  grid-area: profile__buttonAlign;
}

@media screen and (max-width: 768px) {
  .profile__buttonAlign {
    margin: 26px 0 0 28px;
    gap: 10px;
  }
}
