.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  top: 195px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 575px) {
  .popup__container {
    max-width: 282px;
    top: 123px;
    max-height: 322px;
  }
}
