.photo-card__buttonLike {
  background-image: url(../../../../images/Like.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.photo-card__buttonLike:active {
  background-image: url(../../../../images/LikeActive.svg);
}
