.elements__buttonLike {
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.elements__buttonLike:active {
  background-image: url(../../../images/VectorActiv.png);
}
