.elements__card {
  display: grid;
  grid-template-rows: 282px 79px;
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
}
