.header__logo {
  max-width: 142px;
  max-height: 33px;
  display: flex;
}

@media screen and (max-width: 575px) {
  .header__logo {
    max-width: 103px;
    max-height: 24px;
    padding-left: 27px;
    box-sizing: border-box;
  }
}
