.popup__form {
  width: 100%;
  padding: 44px 36px 37px;
  box-sizing: border-box;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 575px) {
  .popup__form {
    padding: 75px 22px 25px;
    max-width: 282px;
  }
}
