.popup__saveButton {
  background-image: url(../../../images/Сохранить.png);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  width: 358px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: #000;
  cursor: pointer;
  border-radius: 2px;
}

@media screen and (max-width: 575px) {
  .popup__saveButton {
    background-image: url(../../../images/Сохранить2.png);
    width: 238px;
    height: 46px;
  }
}
