.popup__saveButton {
  background-image: url(../../../images/SaveButton.png);
  background-repeat: no-repeat;
  width: 358px;
  height: 50px;
  color: #fff;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .popup__saveButton {
    background-image: url(../../../images/SaveButton2.png);
    width: 238px;
    height: 46px;
  }
}
