.popup__close {
  position: absolute;
  background-image: url(../../../images/CloseIcon.png);
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 575px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: -5px;
    top: -40px;
    background-image: url(../../../images/CloseIcon2.png);
  }
}
