.profile__addButton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/AddButton.svg);
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 900px) {
  .profile__addButton {
    width: 100%;
    background-image: url(../../../images/AddButton2.svg);
    background-position: center;
    margin-top: 36px;
  }
}

@media screen and (max-width: 768px) {
  .profile__addButton {
    margin-top: 0;
  }
}
