.elements__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
  align-self: center;
  justify-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .elements__container {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .elements__container {
    max-width: 282px;
    grid-template-columns: 282px;
  }
}
