.profile__editButton {
  padding: 0;
  background-image: url(../../../images/Pen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 575px) {
  .profile__editButton {
    width: 18px;
    height: 18px;
  }
}
